<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.tinylcy"/>

    <context:property-placeholder location="buddha-client.properties"/>

    <!--ZooKeeper manager-->
    <bean id="zk-manager" class="org.tinylcy.zookeeper.ZooKeeperManager">
        <constructor-arg name="zkAddress" value="${zookeeper.address}"/>
    </bean>

    <!--RPC service discoverer-->
    <bean id="buddha-discovery" class="org.tinylcy.ServiceDiscovery">
        <constructor-arg name="manager" ref="zk-manager"/>
    </bean>

    <!--RPC client-->
    <bean id="buddha-rpc-client" class="org.tinylcy.RpcClient">
        <constructor-arg name="discovery" ref="buddha-discovery"/>
    </bean>

    <!--rpc dynamic proxy-->
    <bean id="buddha-rpc-proxy" class="org.tinylcy.proxy.RpcProxy">
        <constructor-arg name="client" ref="buddha-rpc-client"/>
    </bean>
</beans>