<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.tinylcy"/>

    <!--Read values from property file-->
    <context:property-placeholder location="buddha-server.properties"/>

    <!--ZooKeeper manager-->
    <bean id="zk-manager" class="org.tinylcy.zookeeper.ZooKeeperManager">
        <constructor-arg name="zkAddress" value="${zookeeper.address}"/>
    </bean>

    <!--Service registration service provider-->
    <bean id="buddha-registry" class="org.tinylcy.ServiceRegistry" init-method="connect" destroy-method="disconnect">
        <constructor-arg name="manager" ref="zk-manager"/>
    </bean>

    <!--RPC server-->
    <bean id="buddha-rpc-server" class="org.tinylcy.RpcServer">
        <constructor-arg name="serverAddress" value="${server.port}"/>
        <constructor-arg name="registry" ref="buddha-registry"/>
    </bean>

</beans>